@import "../../core/settings/index";
@import "../../core/tools/index";

$bem-use-namespaces: true;

@include block('issues', 'component') {
  padding-top: $page-header-height + $indent-medium;
  @extend %layer-flex-row;

  .theme-dark & {
    padding-top: $page-header-height;
  }

  @include element('title') {
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 2px 0;
    margin: 25px 0 22px;
    text-transform: uppercase;
    display: none;

    .theme-dark & {
      color: white;
      display: block;
    }
  }

  @include element('load-more') {
    padding: $indent-large 0;
    @extend %layer-flex-row;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .infinity-scroll__actions {
    @extend %layer-flex-row;
    justify-content: center;

    .js-btn {
      max-width: 250px;
      width: 100%;
    }
  }

  .infinity-scroll__loading {
    @extend %layer-flex-row;
    justify-content: center;
    align-items: center;
    height: 94px;
  }

  @include element('infinity-list') {
    max-width: 500px;
  }

  @include element('item') {
    margin-bottom: $indent-large + 4;

    .theme-dark & {
      margin-left: 2px; // box-shadow width
    }
  }

  @include element('prize-pool') {
    flex: 1;
    margin-left: $indent-medium;
  }

  @include element('awards-button') {
    $size: 56px;
    position: fixed;
    bottom: $indent-large;
    right: $indent-large;
    width: $size;
    height: $size;
    @extend %layer-flex-row;
    justify-content: center;
    align-items: center;
    border-radius: $size / 2;
    box-shadow: 0 2px 5px 5px rgba(black, .2);
    background-color: white;
    color: black;
    border: 0;
    text-decoration: none;

    * {
      fill: $dark-color;
    }
  }
}

$bem-use-namespaces: false;
